body{
    background-image: url("../img/background.jpg");
}

.header{
    width: 100%;
    height: 200px;
    background-color: cornflowerblue;
    padding-top: 5px;
}

.header h1{
    font-family: sans-serif;
    color: whitesmoke;
    font-size: 100px;
}

@media only screen and (max-width: 1000px){

    .header h1{
        font-size: 50px;
    }
}

.poststick{
    margin: 20px;
    border-bottom-left-radius: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px 250px;
    gap: 50px 10vw;
}

.grid-item{
    background-color: yellow;
}

.poststick p{
    font-family: 'Sedgwick Ave', cursive;
    font-size: 20px;
    font-weight: bolder;
    padding-top: 30px;
    padding-left: 15px;
}
@media only screen and (max-width: 768px)  {
    .poststick{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 250px);
    }
}
