/*
    . Class
    # Id
*/

body{
    background-color: whitesmoke;
}

.header{
    width: 100%;
    height: 200px;
    background-color: crimson;
    padding-top: 5px;
}

.header h1{
    font-family: sans-serif;
    color: whitesmoke;
    font-size: 100px;
}

.footer{
    width: 100%;
    height: 200px;
    background-color: currentColor;
    padding-top: 5px;
}

p.uppercase{
    text-transform: uppercase;
}

@media screen and (max-width: 1000px){

    .header h1{
        font-size: 50px;
    }
}
/* FIRST ROW */
.cell-1-1  { grid-area: 1-1;  }
.cell-1-2  { grid-area: 1-2;  }
.cell-1-3  { grid-area: 1-3;  }
.cell-1-4  { grid-area: 1-4;  }
.cell-1-5   { grid-area: 1-5;  }
.cell-1-6   { grid-area: 1-6;  }
.cell-1-7   { grid-area: 1-7;  }
.cell-1-8   { grid-area: 1-8;  }

/* SECOND ROW */
.cell-2-1  { grid-area: 2-1;  }
.cell-2-2  { grid-area: 2-2;  }
.cell-2-3  { grid-area: 2-3;  }
.cell-2-4  { grid-area: 2-4;  }
.cell-2-5 { grid-area: 2-5;  }
.cell-2-6  { grid-area: 2-6;  }
.cell-2-7  { grid-area: 2-7;  }
.cell-2-8 { grid-area: 2-8;  }

/* THIRD ROW */
.cell-3-1  { grid-area: 3-1;  }
.cell-3-2  { grid-area: 3-2;  }
.cell-3-3  { grid-area: 3-3;  }
.cell-3-4  { grid-area: 3-4;  }
.cell-3-5  { grid-area: 3-5;  }
.cell-3-6  { grid-area: 3-6;  }
.cell-3-7  { grid-area: 3-7;  }
.cell-3-8  { grid-area: 3-8;  }

.grid-container {
      display: grid;
      grid-template-areas:
        '1-1 1-2 1-3 1-4 1-5 1-6 1-7 1-8'
        '2-1 2-2 2-3 2-4 2-5 2-6 2-7 2-8'
        '3-1 3-2 3-3 3-4 3-5 3-6 3-7 3-8';
      grid-gap:5px;
      background-color: crimson;
      padding: 10px;
}

.grid-container > div {
  font-family: sans-serif;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  transition: all 0.2s linear;
}

.grid-container > div:hover {
  background-color: rgba(255, 255, 255, 0.95);
  font-weight: bolder;
}

.transparent {
    opacity: 0.2;
}

@media screen and (720px <= width <= 1000px) {
    .grid-container {
        grid-template-areas:
            '1-1 1-2 1-3 1-4'
            '2-1 2-2 2-3 2-4'
            '3-1 3-2 3-3 3-4'
            '4-1 4-2 4-3 4-4'
            '5-1 5-2 5-3 5-4'
            '6-1 6-2 6-3 6-4';
    }
}

@media screen and (width <= 720px) {
    .grid-container {
        grid-template-areas:
        '1-1 1-2 1-3'
        '2-1 2-2 2-3'
        '3-1 3-2 3-3'
        '4-1 4-2 4-3'
        '5-1 5-2 5-3'
        '6-1 6-2 6-3'
        '7-1 7-2 7-3'
        '8-1 8-2 8-3';
    }
}