body {
  background-image: url(/Actividad10_Wuke_Zhang/resources/wallpaper.jpg);
  background-position:left bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.container{
  display: flex;
  justify-content:center;
  align-items:center;
  width:100%;
  height:97vh;
}
.son{
  height: 110px;
  width: 290px;
  border: 3px solid #2600ff;
  border-radius: 5px;
  text-align: center;
  border-top: 24px solid #0155E4;
  background-color: #ECE9D8;
}
.title{
  position: relative;
  bottom: 30px;
  color:white;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 12px;
  text-align: left;
}
.text{
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 550;
    position: relative;
    bottom: 100px;
}
button{
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  width: 70px;
  position: relative;
  bottom: 100px;
}
.img1{
  width: 20px;
  height: 20px;
  position: relative;
  left: 135px;
  top: -60px;
}
.img2{
  width: 25px;
  height: 25px;
  position: relative;
  right: 120px;
  bottom: 50px;
}
