body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#video-bg {
  width: 100%;
  height: 100%;
  z-index: -1000;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    height: 70vh;
    z-index: 1; 
    color: black;
    text-align: center;
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
  }
  