table{
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    border:1px solid grey ;
    border-collapse: collapse;
    color: whitesmoke;
}

tr{
    height: 20px;
    width: 20px;
    border:1px solid grey ;
    border-collapse: collapse;
}

td{
    height: 20px;
    width: 20px;
    border:1px solid grey ;
    border-collapse: collapse;
}

.Crimson{
    background-color: crimson;
}

.Black{
    background-color: black
}

.Grey{
    background-color:gray ;
}