.ruby{
    width: 3%;
    position: relative;
    left: 55vw;
    top: 50vh;
    visibility: hidden;
}

.closedChest{
    width: 10%;
    position: relative;
    left: 75vw;
    top: 55vh;
}

.key{
    width: 5%;
    position: relative;
    top: 36vh;
    left: 11vw;
    z-index: 1;
}

.door{
    width: 6.5%;
    position: relative;
    left: 6vw;
    top: 40vh;
}

.sheet{
    width: 6%;
    position: relative;
    top: 50vh;
    left: 30vw;
    visibility: hidden;
}

.skulls{
    width: 15%;
    position: relative;
    top: 60vh;
    right: 5vw;
}

.potion{
    width: 5%;
    position: relative;
    left: 20vw;
    top: 65vh;
    visibility: hidden;
}

.hangKeys{
    width: 400px;
    position: relative;
    right: 45vw;
    top: 35vh;
}