.mainTitle{
    font-family: "sans-serif";
    font-size: 50px;
    font-weight: bold;
}

.square{
    width: 100px;
    height: 100px;
}

.black{
    background-color: black;
}

.white{
    background-color: white;
}		

.board{
    border: 2px solid black;
}
.table {
    background-color: grey;
}

.cell {
    width: 64px;
    height: 64px;
    background-color: white;
}
.color{
    color: whitesmoke;
    font-size: 40px;
    font-weight: bold;
}
.span{
    text-align: center;
}
.BlackQueen{
    background-image: url("resources/imgs/BlackQueen.png");
}
img{
    width: 60px;
    height: 70px;
}
td{
    text-align: center;
}