body{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction:column;
    background-color: whitesmoke;
}
img{
    position: relative;
    bottom: -50px;
    height: 50vh;
}
.yellow-monster {
    display: inline;
}
.blue-monster {
    display: none;
}
.green-monster {
    display: none;
}
.purple-monster {
    display: none;
}
  @media only screen and (min-width: 600px) and (max-width: 999px) {
    body {
      background-color: rgb(119, 221, 119);
    }
    .blue-monster{
        display: none ;
    }
    .green-monster{
        display: inline;
    }
    .yellow-monster{
        display: none;
    }
  }
@media screen and (max-width: 599px) {
    body{
        background-color: rgb(204, 169, 221);
    }
    .blue-monster{
        display: none;
    }
    .purple-monster{
        display: inline;
    }
    .yellow-monster{
        display: none;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1499px){
    body{
        background-color: rgb(93, 193, 185);
    }
    .yellow-monster{
        display: none;
    }
    .blue-monster{
        display: inline;
    }
}