body{
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    height: 95vh;
    width: 60vh;
    position: relative;
    top: 30px;
}

.img{
    border: 2px  solid white;
    height: 70vh;
    width: 50vh;
    position: relative;
    top: 10px;
}

.container2{
    background-color: white;
    width: 200px;
    height: 300px;
    position: absolute;
    bottom: 10px;
    left: 0;
    color: black;
    text-align: center;
    font-weight: bold;
}

button{
    position: relative;
    top: 30px;
    width: 70px;
    height: 45px;
    color: white;
    background-color: burlywood;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container2 p {
    margin-bottom: 10px;
}

#imageGenerated img {
    max-width: 100%;
}

img{
    width: 100%;
    height: 100%;
}