.ruby{
    width: 3%;
    position: absolute;
    left: 55vw;
    top: 70vh;
    visibility: hidden;
    cursor: pointer;
}

.chest-container {
    position: absolute;
    width: 10%;
    left: 75vw;
    top: 65%;
    cursor: pointer;
}

.closedChest, .chest-video, .openedChestImage {
    width: 100%;
}

.key{
    width: 5%;
    position: absolute;
    top: 50vh;
    left: 25vw;
    z-index: 1;
    cursor: pointer;
}

.door{
    width: 7%;
    position: absolute;
    left: 46vw;
    top: 51%;
}

.sheet{
    width: 6%;
    position: absolute;
    top: 65vh;
    left: 60vw;
    visibility: hidden;
    cursor: pointer;
}

.skulls{
    width: 15%;
    position: absolute;
    top: 70vh;
    right: 75vw;
}

.potion{
    width: 5%;
    position: absolute;
    left: 58vw;
    top: 77vh;
    visibility: hidden;
    cursor: pointer;
}

.hangKeys{
    width: 30%;
    position: absolute;
    right: 68vw;
    top: 31vh;
}

.torch{
    width: 5%;
    position: absolute;
    left: 65vw;
    top: 52vh;
}

.iframe-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .iframe-content {
    width: 50%;
    height: 80%;
    border: none;
    border-radius: 10px;
  }
  
