html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#video-bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.content {
  position: relative;
  width: 30vw;
  height: 80vh;
  color: white;
}

.window {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 0;
}

.content i,
.content p,
.content button {
  position: relative;
  z-index: 0;
  top: 100px;
  text-align: justify;
  font-size: 1.5vw;
}

.content p {
  width: 70%;
  margin: 0 15%;
  margin-top: 30px;
}

.icon-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

#icon {
  font-size: 2vw;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 70px;
  transition: background-color 0.3s ease;
}

#icon:hover{
  box-shadow: 10px 10px 15px rgb(36, 34, 34);
  color: rgb(226, 226, 253);
}

.content button {
  z-index: 0;
  top: 130px;
  padding: 2%;
  color: rgb(158, 158, 246);
  background-color: #fff;
  border: none;
  box-shadow: 0px 0px 10px rgb(158, 158, 246) inset,
              10px 7px 10px #0006;
  cursor: pointer;
  overflow: hidden;
}

.button-text {
  display: inline-block;
  transition: opacity 0.3s ease-out;
}

.nextButton .icon {
  position: absolute;
  top: 25%;
  left: -30%;
  transition: left 1s ease-out;
}

.nextButton:hover .icon {
  left: 35%;
  color: white;
  opacity: 1;
}

.nextButton:hover .button-text {
  visibility: hidden;
}

.content .nextButton::before {
  content: '';
  position: absolute;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  background-color: rgb(158, 158, 246);
  transition: right 0.5s ease-out;
}

.content button:hover::before {
  right: 0;
}

.returnButton .icon {
  position: absolute;
  top: 25%;
  right: -30%;
  transition: right 1s ease-out;
}

.returnButton:hover .icon {
  right: 35%;
  color: white;
  opacity: 1;
}

.returnButton:hover .button-text {
  visibility: hidden;
}

.content .returnButton::before {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: rgb(158, 158, 246);
  transition: left 0.5s ease-out;
}

.returnButton:hover::before {
  left: 0;
}

.container.hidden {
  display: none;
}

.playButton:hover {
  box-shadow: 0px 0px 30px rgb(158, 158, 246) inset,
              10px 10px 15px rgb(36, 34, 34);
}

